@page
@model SacramentMeetingPlanner.Pages.ProgramView.DisplayProgramModel
@{
    ViewData["Title"] = "Display Program";
}
<head>
    <link rel="stylesheet" href="~/css/DisplayProgram.css" />
</head>
<div class="sacrament-program">
    <h1>Sacrament Program</h1>
    <h3>@Model.Program.DateOfMeeting.ToShortDateString()</h3>

    @*<p>@Html.DisplayNameFor(Model => Model.Program.PresidingLeader)</p>
    <p>@Model.Program.Participants.Where(x => x)</p>*@

    @foreach (var participant in @Model.Program.Participants)
    {
        <p class="participant-role">@Html.DisplayFor(Model => participant.ParticipantRole)</p>
        <p class="participant-title">@Html.DisplayFor(Model => participant.ParticipantTitle)</p>
        <p class="participant-name">@Html.DisplayFor(Model => participant.FullNameOfParticipant)</p>
        <p class="talk-subject">@Html.DisplayFor(Model => participant.TalkSubject)</p>
    }
</div>