@page
@using System.Linq
@using SacramentMeetingPlanner.Models
@using Program = SacramentMeetingPlanner.Program
@model SacramentMeetingPlanner.Pages.Program.EditModel

@{
    ViewData["Title"] = "Edit";
    var conductingLeader = Model.Program.Participants.FirstOrDefault(x => x.ParticipantRole == ParticipantRoles.ConductingLeader.ToString());
}

<h1>Edit</h1>

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Program.DateOfMeeting" class="control-label"></label>
                <input asp-for="Program.DateOfMeeting" class="form-control" />
                <span asp-validation-for="Program.DateOfMeeting" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[0].ParticipantRole" value="@ParticipantRoles.PresidingLeader.ToString()" type="hidden" />
                <label class="control-label">@ParticipantRoles.PresidingLeader.ToString()</label>
                <select asp-for="Program.Participants[0].ParticipantTitle" asp-items="Html.GetEnumSelectList<TitleOfPerson>()" class="form-control">
                    <option selected="selected" value="">Title</option>
                </select>
                <input asp-for="Program.Participants[0].ParticipantRole" />
                <input asp-for="Program.Participants[0].FullNameOfParticipant" class="form-control" />
                <span asp-validation-for="Program.Participants[0]" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[1].ParticipantRole" value="@ParticipantRoles.ConductingLeader.ToString()" type="hidden" />
                <label asp-for="Program.Participants[1].ParticipantRole" class="control-label"></label>
                <select asp-for="Program.Participants[1].ParticipantTitle" asp-items="Html.GetEnumSelectList<TitleOfPerson>()" class="form-control">
                    <option selected="selected" value="">Title</option>
                </select>
                <input asp-for="Program.Participants[1].FullNameOfParticipant" class="form-control" />
                <span asp-validation-for="Program.Participants[1]" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Program.OpeningSong" class="control-label"></label>
                <input asp-for="Program.OpeningSong" class="form-control" />
                <span asp-validation-for="Program.OpeningSong" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[2].ParticipantRole" value="@ParticipantRoles.OpeningPrayer.ToString()" type="hidden" />
                <label asp-for="Program.Participants[2]" class="control-label"></label>
                <select asp-for="Program.Participants[2].ParticipantTitle" asp-items="Html.GetEnumSelectList<TitleOfPerson>()" class="form-control">
                    <option selected="selected" value="">Title</option>
                </select>
                <input asp-for="Program.Participants[2].FullNameOfParticipant" class="form-control" />
                <span asp-validation-for="Program.Participants[2]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Program.SacramentHymn" class="control-label"></label>
                <input asp-for="Program.SacramentHymn" class="form-control" />
                <span asp-validation-for="Program.SacramentHymn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Program.IntermediateMusic" class="control-label"></label>
                <input asp-for="Program.IntermediateMusic" class="form-control" />
                <span asp-validation-for="Program.IntermediateMusic" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Program.ClosingSong" class="control-label"></label>
                <input asp-for="Program.ClosingSong" class="form-control" />
                <span asp-validation-for="Program.ClosingSong" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[3].ParticipantRole" value="@ParticipantRoles.ClosingPrayer.ToString()" type="hidden" />
                <label asp-for="Program.Participants[3]" class="control-label"></label>
                <select asp-for="Program.Participants[3].ParticipantTitle" asp-items="Html.GetEnumSelectList<TitleOfPerson>()" class="form-control">
                    <option selected="selected" value="">Title</option>
                </select>
                <input asp-for="Program.Participants[3].FullNameOfParticipant" class="form-control" />
                <span asp-validation-for="Program.Participants[3]" class="text-danger"></span>
            </div>

            <div>
                <label>Speakers</label>
                @for (int i = 4; i < Model.Program.Participants.Where(x => x.ParticipantRole == ParticipantRoles.Speaker.ToString()).ToList().Count + 5; i++)
                {
                    <input asp-for="@i" type="hidden" />
                    <div class="form-group">
                        <select asp-for="@Model.Program.Participants[i].ParticipantTitle" asp-items="Html.GetEnumSelectList<TitleOfPerson>()" class="form-control">
                            <option selected="selected" value="">Title</option>
                        </select>
                        <input type="text" class="form-control" asp-for="@Model.Program.Participants[i].FullNameOfParticipant" placeholder="Enter full name here.">
                        <input type="text" class="form-control" asp-for="@Model.Program.Participants[i].TalkSubject" placeholder="Enter subject of talk here.">
                    </div>

                    <button type="submit" asp-page-handler="removeParticipant" asp-route-id="@i" asp-route-index="@i">x</button>
                }
                <button type="submit" asp-page-handler="addParticipant">Add Speaker</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
